<body>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-5 my-5 border-top custom-footer">
       <div class="col-md-4 d-flex align-items-center">
<div class="row">
    <div class="col-6 link-row">
        <div>Pages</div>
    <a href="https://www.songsterr.com">Songsterr</a>
    <a href="https://www.ultimate-guitar.com">Ultimate Guitar</a>
    </div>
    <div class="col-6 link-row">  
        <div>Youtube Channels</div>
    <a href="https://www.youtube.com/@nikolagugoski">Nikola Gugoski</a>
    <a href="https://www.youtube.com/@MrPolevaulter">Elmo Karjalainen</a>
    <a href="https://www.youtube.com/@TheArtofGuitar">The-Art-of-Guitar</a>
    <a href="https://www.youtube.com/@AndreaBoccarusso">Andrea Boccarusso</a>
    </div>
</div>
</div>
</footer>